/* exercice 1*/

.bg{ 
    background: rgb(103, 199, 255);

}

.ligne1{
    display: flex;
}

.orange{
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    background: rgb(252, 168, 14);
    width: 100%;
    height: 100px
}

.ligne2{
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    margin-top: 40px;
}

.gris{
    background: gray;
    width: 300px;
    height: 600px;
}

.jaune{
    margin-left: 20px;
    background: rgb(247, 211, 94);
    width: 80%;
    height: 600px;
}

.vert{
    
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    background: green;
    width: 100%;
    height: 100px
}

/* exercice 2 */

.orange2{
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    background: rgb(252, 168, 14);
    width: 100%;
    height: 100px
}
.ligne4{
    display: flex;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

.gris2{
    background: gray;
    width: 300px;
    height: 600px;
}

.colonne{
    width: 100%;
}

.jaune2{ 
    margin-left: 20px;
    background: rgb(247, 211, 94);
    height: 180px;
}

.bleu{
    margin-top: 30px;
    background: rgb(145, 178, 248);
    height: 180px;
    margin-left: 20px;
}

.vertpale{
    margin-top: 30px;
    background: rgb(190, 223, 196);
    height: 180px;
    margin-left: 20px;
}

.ligne3{
    display: flex;
}

.vert2{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    background: green;
    width: 100%;
    height: 100px;
}

/* exercice 3 */

.line{
    display: flex;
    margin-top: 40px;
    
    margin-left: 40px;
    margin-right: 40px;
    
}

.oranges{
    background: orangered;
    flex: 1;
    height: 200px;
}
.grey{
    background: grey;
    flex: 1;
    height: 200px;
    margin-left: 50px;
}


.line2{
   
}
.yellow{
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    background: yellow;
    /* width: 100%; */
    height: 100px;
}

.line3{
    display: flex; 
    margin-top: 60px;
}

.c1{
    background: orangered;
    flex: 1;
    height: 100px;
    margin-left: 40px;
    margin-right: 40px;
}
.c2{
    margin-left: 10px;
    background: orangered;
    height: 100px;
    flex: 1;
    margin-left: 40px;
    margin-right: 40px;
}

.c3{
    margin-left: 10px;
    background: orangered;
    height: 100px;
    flex: 1;
    margin-left: 40px;
    margin-right: 40px;
}

.c4{
    margin-left: 10px;
    background: orangered;
    height: 100px;
    flex: 1;
    margin-left: 40px;
    margin-right: 40px;
}

.line4{
    display: flex;
    margin-top: 40px;
}

.y1{
    background: yellow;
    flex: 1;
    height: 200px;
    margin-left: 40px;
    
}
.y2{
    background: yellow;
    flex: 1;
    height: 200px;
    margin-left: 50px;
    margin-right: 40px;
}

.line5{
    display: flex;
}
.g{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    background: green;
    width: 100%;
    height: 100px;
}

/* exercice 4 */

.l1{
    display: flex;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
}

.bo{
border: 6px solid;
border-color: orangered;
flex: 1;
height: 100px;
}

.l2{
margin-left: 40px;
margin-right: 40px;
display: flex;
margin-top: 20px;
}

.bc{ 
    flex: 1;
    flex-direction: column;
    margin-left: 20px;
}

.cb1{
    border: 6px solid;
    border-color: blue;
   
    flex: 1;
    height: 100px;
}
.cb2{
    border: 6px solid;
    border-color: blue;
    flex: 1;
    height: 100px;
    margin-top: 20px;
}
.cb3{
    margin-top: 20px;
    border: 6px solid;
    border-color: blue;
    
    flex: 1;
    height: 100px;
}
.cb4{
    margin-top: 20px;
    border: 6px solid;
    border-color: blue;
    
    flex: 1;
    height: 100px;
}
.cb5{
    margin-top: 20px;
    border: 6px solid;
    border-color: blue;
    flex: 1;
    height: 100px;
}

.bf{
    margin-top: 10px;
    margin-right: 50px;
    margin-left: 40px;
    flex: 3;
    /* width: 400px; */
    display: flex;
    flex-direction: column;
}
.cf1{
    border: 6px solid;
    border-color: rgb(164, 164, 247);
    flex: 3;
    height: 150px;
}
.cf2{
    margin-top: 10px;
    border: 6px solid;
    border-color: rgb(164, 164, 247);
    flex: 3;
    height: 150px;
}
.cf3{
    margin-top: 10px;
    border: 6px solid;
    border-color: rgb(164, 164, 247);
    flex: 3;
    height: 150px;
}

.l3{
    display: flex;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    
}

.cv{
    border: 6px solid;
    border-color: green;
    flex: 1;
    height: 100px;
}
